{% extends "base.html" %}
{% block content %}

<!-- Sistema de Mensagens -->
<br>

{% if messages %}
                {% for message in messages %}
            {% if message.tags %}
            <div class="alert alert-{{ message.tags }}" role="alert">{% endif %}
              {% if message.tags %}{% endif %}{{ message }}
            </div>
                {% endfor %}
{% endif %}
<!-- Final do Sistema de Mensagens -->

<!-- Inicio dos Cards -->
<div class="card-columns">
{% for votacoes in votacoes %}
<div class="card bg-light mb-3">
  <div class="card-header">#{{votacoes.id}} - {{votacoes.nome}}</div>
  <div class="card-body">
    <h5 class="card-title">{{votacoes.candidato1}} x {{votacoes.candidato2}}</h5>
    <p class="card-text">Acesse a página desta votação, e exerça seu direito.</p>
      {% if user.is_authenticated %}
      <a href="{% url 'votacao_vervotacao' id=votacoes.id %}"><button type="button" class="btn btn-primary">Acessar</button></a>
      {% else %}
      <p class="card-text">Faça login, por favor!</p>
      {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}