{% extends "base.html" %}
{% block content %}

<!-- Sistema de Mensagens -->
<br>

{% if messages %}
                {% for message in messages %}
            {% if message.tags %}
            <div class="alert alert-{{ message.tags }}" role="alert">{% endif %}
              {% if message.tags %}{% endif %}{{ message }}
            </div>
                {% endfor %}
{% endif %}
<!-- Final do Sistema de Mensagens -->

<h1>Página de Votação: {{pegaVotacao.nome}}</h1>
<div style="column-count: 2;" class="card-columns">

<div class="card bg-light mb-3">
  <div class="card-header">{{pegaVotacao.candidato1}}</div>
  <div class="card-body">
    <h5 class="card-title text-center"><img class="img-thumbnail" src="/media/{{pegaCandidato1.imagem}}"></h5>
    <p class="card-text">{{pegaCandidato1.biografia}}</p>
      {% if pegaVotacao.status == 'Aberta' %}
      <a href="{% url 'votacao_votar' id=pegaVotacao.id candidato=pegaCandidato1.id %}"><button type="button" class="btn btn-primary">Votar</button></a>
      {% else %}
      Votação Fechada <3
      {% endif %}
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header">{{pegaVotacao.candidato2}}</div>
  <div class="card-body">
    <h5 class="card-title text-center"><img class="img-thumbnail" src="/media/{{pegaCandidato2.imagem}}"></h5>
    <p class="card-text">{{pegaCandidato2.biografia}}</p>
      {% if pegaVotacao.status == 'Aberta' %}
      <a href="{% url 'votacao_votar' id=pegaVotacao.id candidato=pegaCandidato2.id %}"><button type="button" class="btn btn-primary">Votar</button></a>
      {% else %}
      Votação Fechada
      {% endif %}
  </div>
</div>

</div>

<div class="text-center"><a href="{% url 'votacao_relatorio' id=pegaVotacao.id %}"><button type="button" class="btn btn-primary">Resultados</button></a></div>


{% endblock %}